.header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn{   
    background: linear-gradient(to bottom, #00b0ff, #0091ea);
    color: white;
    font-size:large;
    padding: 12px 26px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(to bottom, #0091ea, #00b0ff);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

.logo{
    display: none;
    cursor: pointer;
}

.form{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.text{
    font-size:x-large;
    border: none;
    background-color:white;
}

.text:focus {
    outline: none;
}

/* Desktop Styles */
@media only screen and (min-width: 900px) {
    .header{
        padding-left: 1%;
    }

    .logo{
        display:block;
        cursor: pointer;
    }

    .form{
        padding-left: 15px;
    }

    .text{
        border: 2px solid #ccc;
        border-radius: 20px;
    }

    .btn{
        border: 2px solid black;
        border-radius: 10px;
        margin: 10px;
    }
}