.box{
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    max-width: 500px;
}

.p{
    font-size: 20px;
    font-weight: bold; 
    text-align: center; 
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px; 
    margin-bottom: 5px; 
}
.card{
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
}

.img{
    height: 231px;
    width: 312px;
    border-radius: 10%;
}

.link{
    background: greenyellow;
    color: black;
    font-size:large;
    margin-top: 10px;
    padding: 12px 26px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 50%;
}

/* Desktop Styles */
@media only screen and (min-width: 900px) {
    .box{
        padding-left: 70px;
        padding-right: 70px;
    }
    
}