.box{
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding-top: 60px;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: green;
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    margin-bottom: 20px;
}

.image{   
   height: 150px; 
  }

/* Desktop Styles */
@media only screen and (min-width: 900px) {
    .box{
        flex: 1;
        margin: 0px 300px 0px 300px;
        padding-top: 90px;
       }
       .text{
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        color: #333;
        line-height: 1.5;
    }
    .title{
        font-family: Pacifico, cursive;
        font-size: 3em;
        color: green;
    }

    .image{   
        height: 300px;
    }
}